.navbar {
    padding: 10px 30px !important;
    font-weight: 600 !important;
    border-bottom: 1px solid #D3D7D9;
    width: 100%;
    background: #EBEFF3;

    .nav-container-left {
        display: flex;
        justify-content: space-around;
        align-items: center;

        .navlogo-container {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            cursor: pointer;

            .navlogo {
                width: 40px;
                height: 40px;
            }

            .navlogo-txt {
                font-family: 'Montserrat', sans-serif !important;
                color: var(--text-color-dark1);
                padding: 0 4px;
            }
        }
    }

    .dropdown-hover:hover .dropdown-menu {
        display: block;
        opacity: 1;
        transform: translateY(0);
        transition: opacity 0.3s ease, transform 0.3s ease;
        /* Smooth transition effect */
    }

    .dropdown-hover .dropdown-menu {
        opacity: 0;
        transform: translateY(-10px);
        transition: opacity 0.3s ease, transform 0.3s ease;
    }

}