/* ProgressBar.css */

.progress-container {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    transition: all ease;
    flex-direction: column;
    position: fixed;
    bottom: 20px;
    right: 20px;
}

svg {
    position: sticky;
    transform: rotate(-90deg);
}

svg circle {
    stroke: rgba(0, 0, 0, 0.1);
    stroke-width: 8px;
    stroke-linecap: round;
    fill: transparent;
}

svg .progress-bar {
    stroke: url(#grad);
    stroke-dashoffset: 0;
    transition: stroke-dashoffset 0.5s ease-in-out;
}