@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@400;600&display=swap');

@font-face {
    font-family: MullerLight;
    src: url('/fonts/muller_narrow/MullerLight.ttf');
}

@font-face {
    font-family: MullerThin;
    src: url('/fonts/muller_narrow/MullerThin.ttf');
}

@font-face {
    font-family: MullerMedium;
    src: url('/fonts/muller_narrow/MullerMedium.ttf');
}

@font-face {
    font-family: MullerRegular;
    src: url('/fonts/muller_narrow/MullerRegular.ttf');
}

/*
font-family: 'Inter', sans-serif;
*/


* {
    margin: 0;
    padding: 0;
    // transition: all 0.3s ease-in-out;
}

:root {
    --main-bg-color-light: #eaecee;
    --main-bg-color-dark: #18181a;
    --text-color-ink: #1952d3;
    --text-color-light1: #fbfdff;
    --text-color-light2: #767b7f;
    --text-color-dark1: #1c1d1f;
    --text-color-dark2: #8d9397;
    --button-color: #3661ff;
    --button-hover-color: #2b50da;
}


::-webkit-scrollbar {
    display: none;
}

#root,
body,
html {
    width: 100vw !important;
    height: 100vh !important;
    background: #eaecee !important;
    font-family: 'MullerRegular', sans-serif !important;
    overflow-x: hidden;
}

section {
    width: 100vw !important;
    height: 100vh !important;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: pink;
}