.homepage-container {
    width: 100vw;
    height: 100%;
    display: flex;
    margin-top: 70px;

    .webgl {
        width: 40vw !important;
    }
}



@media (max-width: 800px) {
    .homepage-container {
        .webgl {
            width: 0vw !important;
        }

        .overlay-container {
            padding: 10px;
            padding-top: 100px;
            width: 100vw;
            text-align: center;

            .title {
                text-align: center;

                h2 {
                    font-size: 4rem !important;
                    font-weight: 400;
                }

                p {
                    font-size: 20px;
                }

                a {
                    align-self: center;
                }
            }
        }
    }
}


.section2 {
    width: 100vw;

    h1 {
        padding-left: 80px;
        color: var(--text-color-dark2);
        padding-bottom: 30px;
    }

    span {
        color: var(--text-color-dark1);
    }

    .items {
        display: flex;
        justify-content: center;
        width: 100%;

        .item-container {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 75%;
            padding: 20px;

            .row {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                padding: 20px;

                .mdr-card {
                    width: 70%;
                    background: #fff;
                    text-align: center;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    border-radius: 16px;

                    .item-image {
                        width: 97%;
                        height: 300px;
                        background: #eaecee;
                        margin-top: 0px;
                        border-radius: 16px;

                        img {
                            width: 80%;
                            height: 100%;
                        }
                    }

                    button {
                        background: #1C1D1F;
                        color: #fff;
                        border-radius: 50px;
                        padding: 0.4rem 1rem;
                        width: 100px;
                        border: 5px solid white;
                        position: relative;
                        bottom: 20px;
                    }
                }

                .col {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 50%;
                    height: 100%;

                    .card {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;
                        border-radius: 16px;
                        width: 90%;
                        background: #fff;
                        text-align: center;

                        .item-image {
                            width: 96%;
                            height: 300px;
                            background: #eaecee;
                            margin-top: 0px;
                            border-radius: 16px;

                            img {
                                width: 80%;
                                height: 90%;
                            }
                        }

                        button {
                            background: #1C1D1F;
                            color: #fff;
                            border-radius: 50px;
                            padding: 0.4rem 1rem;
                            width: 100px;
                            border: 5px solid white;
                            position: relative;
                            bottom: 20px;
                        }
                    }
                }

                h2 {
                    padding: 15px 0;
                    margin: 0;
                }

            }

            .row>* {
                padding-right: 0;
                padding-left: 0;
            }
        }
    }
}



@media (max-width: 800px) {
    .section2 {
        h1 {
            padding-left: 0px;
            padding-bottom: 30px;
            text-align: center;
        }


        .items {
            display: flex;
            justify-content: center;
            width: 100%;

            .item-container {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                width: 90%;
                padding: 10px;

                .row {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    width: 100%;
                    padding: 10px;

                    .mdr-card {
                        width: 100%;
                        text-align: center;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;
                        border-radius: 16px;

                        .item-image {
                            width: 97%;
                            height: 200px;
                            margin-top: 0px;
                            border-radius: 16px;

                            img {
                                width: 80%;
                                height: 100%;
                            }
                        }
                    }

                    .col {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 100%;
                        height: 100%;

                        .card {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            flex-direction: column;
                            border-radius: 16px;
                            width: 100%;
                            text-align: center;
                            margin-bottom: 20px;

                            .item-image {
                                width: 96%;
                                height: 200px;
                                margin-top: 0px;
                                border-radius: 16px;

                                img {
                                    width: 80%;
                                    height: 90%;
                                }
                            }

                        }
                    }

                    h2 {
                        padding: 15px 0;
                        margin: 0;
                    }

                }

                .row>* {
                    padding-right: 0;
                    padding-left: 0;
                }
            }
        }
    }
}