.homepage-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #1C1D1F;

    #bgVideo {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 0;
        opacity: 0.3;
    }

    .overlay {
        position: relative;
        z-index: 1;
        text-align: center;
        color: #fff;
        padding: 20px;
    }

    .overlay p {
        font-size: 18px;
        margin-bottom: 20px;
    }

    .overlay h1 {
        font-family: MullerMedium;
        font-size: 6rem;
        max-width: 1200px;
        line-height: 1;
        font-weight: 400;
        margin: 50px;
    }

    .overlay a {
        background: #FAFDFF;
        border: none;
        padding: 1.5rem 4rem;
        text-decoration: none;
        transition: background-color 0.3s;
        color: #000000;
        font-weight: bold;
        border-radius: 10px;
        font-family: 'Inter';
    }

    .overlay a:hover {
        background-color: #e5e5e5;
    }
}





@media (max-width: 800px) {
    .homepage-container {

        .overlay {
            position: relative;
            z-index: 1;
            text-align: center;
            color: #fff;
            padding: 20px;
        }

        .overlay p {
            font-size: 18px;
            margin-bottom: 20px;
            padding: 5px;
        }

        .overlay h1 {
            font-family: MullerMedium;
            font-size: 3rem;
            line-height: 1;
            font-weight: 400;
            margin: 50px;
        }

        .overlay a {
            background: #FAFDFF;
            border: none;
            padding: 1.5rem 4rem;
            text-decoration: none;
            transition: background-color 0.3s;
            color: #000000;
            font-weight: bold;
            border-radius: 10px;
            font-family: 'Inter';
        }

        .overlay a:hover {
            background-color: #e5e5e5;
        }
    }
}


.section2 {
    width: 100vw;
    padding-top: 90px;

    h1 {
        padding-left: 80px;
        color: var(--text-color-dark2);
        padding-bottom: 30px;
    }

    span {
        color: var(--text-color-dark1);
    }

    .items {
        display: flex;
        justify-content: center;
        width: 100%;

        .item-container {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 75%;
            padding: 20px;

            .row {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                padding: 20px;

                .mdr-card {
                    width: 70%;
                    background: #fff;
                    text-align: center;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    border-radius: 16px;

                    .item-image {
                        width: 97%;
                        height: 300px;
                        background: #eaecee;
                        margin-top: 0px;
                        border-radius: 16px;

                        img {
                            width: 80%;
                            height: 100%;
                        }
                    }
                    .product-info-sm{
                        padding: 5px 10px;
                    }
                    button {
                        background: #1C1D1F;
                        color: #fff;
                        border-radius: 50px;
                        padding: 0.4rem 1rem;
                        width: 100px;
                        border: 5px solid white;
                        position: relative;
                        bottom: 20px;
                    }
                }

                .col {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 50%;
                    height: 100%;
                    
                    .product-info-sm{
                        padding: 5px 15px;
                    }

                    .card {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;
                        border-radius: 16px;
                        width: 90%;
                        background: #fff;
                        text-align: center;

                        .item-image {
                            width: 96%;
                            height: 300px;
                            background: #eaecee;
                            margin-top: 0px;
                            border-radius: 16px;

                            img {
                                width: 80%;
                                height: 90%;
                            }
                        }

                        button {
                            background: #1C1D1F;
                            color: #fff;
                            border-radius: 50px;
                            padding: 0.4rem 1rem;
                            width: 100px;
                            border: 5px solid white;
                            position: relative;
                            bottom: 20px;
                        }
                    }
                }

                h2 {
                    padding: 15px 0;
                    margin: 0;
                }

            }

            .row>* {
                padding-right: 0;
                padding-left: 0;
            }
        }
    }
}



@media (max-width: 800px) {
    .section2 {
        h1 {
            padding-left: 0px;
            padding-bottom: 30px;
            text-align: center;
        }


        .items {
            display: flex;
            justify-content: center;
            width: 100%;

            .item-container {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                width: 90%;
                padding: 10px;

                .row {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    width: 100%;
                    padding: 10px;

                    .mdr-card {
                        width: 100%;
                        text-align: center;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;
                        border-radius: 16px;

                        .item-image {
                            width: 97%;
                            height: 200px;
                            margin-top: 0px;
                            border-radius: 16px;

                            img {
                                width: 80%;
                                height: 100%;
                            }
                        }
                    }

                    .col {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 100%;
                        height: 100%;

                        .card {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            flex-direction: column;
                            border-radius: 16px;
                            width: 100%;
                            text-align: center;
                            margin-bottom: 20px;

                            .item-image {
                                width: 96%;
                                height: 200px;
                                margin-top: 0px;
                                border-radius: 16px;

                                img {
                                    width: 80%;
                                    height: 90%;
                                }
                            }

                        }
                    }

                    h2 {
                        padding: 15px 0;
                        margin: 0;
                    }

                }

                .row>* {
                    padding-right: 0;
                    padding-left: 0;
                }
            }
        }
    }
}

.section3 {
    width: 100vw;
    padding-left: 100px;
    padding-right: 100px;
    background-color: var(--main-bg-color-dark);

    .benefit-title {
        h1 {
            color: var(--text-color-light1);
            margin-bottom: 32px;
        }

        p {
            color: var(--text-color-light2);
            opacity: 0.8;
            line-height: 1.18;
            font-size: 1.9rem;
        }

        padding-top: 100px;
        padding-bottom: 100px;
    }


    .benefits-container {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-evenly;
        color: var(--text-color-light1);

        .left {
            width: 35%;
            height: 540px;

            .benefit-card {
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                height: 540px;
                width: 100%;
                padding: 30px;
                background-color: #252729;
                border-radius: 20px;

                background-size: cover;
                background-position: center;

                p {
                    font-size: 15px;
                }
            }

            #card-energy {
                background-image: url("../../assets/images/energy.png");
            }

        }


        .right {
            width: 60%;
            height: 540px;

            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            .row {
                width: 100%;
                height: 270px;
                padding: 5px;
                display: flex;
                justify-content: space-evenly;
                align-items: center;

                .benefit-card {
                    width: 45%;
                    height: 95%;
                    border-radius: 20px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                    padding: 30px;
                    background-color: #252729;
                    border-radius: 20px;
                    background-size: cover;
                    background-position: center;

                    p {
                        font-size: 15px;
                    }
                }

                #card-maintenance {
                    background-image: url("../../assets/images/maintainance.png");
                }

                #card-performance {
                    background-image: url("../../assets/images/performance.png");
                }


                #card-safety {
                    background-image: url("../../assets/images/safety.png");
                }


                #card-sound {
                    background-image: url("../../assets/images/sound.png");
                }
            }
        }
    }

    .benefit-footer {
        display: flex;
        padding-top: 80px;

        h3 {
            color: var(--text-color-light1);
            font-size: 29px;
            line-height: 119.2%;
            margin-bottom: 1.6rem;
        }

        p {
            color: var(--text-color-light2);
            color: #939393;
            font-weight: 400;
            font-size: .93rem;
            line-height: 180%;
        }

        .right {
            padding-left: 10px;
        }

        padding-bottom: 100px;
    }
}

.section3-mobile {
    width: 100vw;
    padding-left: 15px;
    padding-right: 15px;
    background-color: var(--main-bg-color-dark);

    .benefit-title-mobile {
        h1 {
            color: var(--text-color-light1);
            margin-bottom: 32px;
            text-align: center;
        }

        p {
            color: var(--text-color-light2);
            opacity: 0.8;
            line-height: 1.18;
            font-size: 18px;
            text-align: center;
        }

        padding-top: 100px;
        padding-bottom: 30px;
    }


    .benefits-container-mobile {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        color: var(--text-color-light1);

        .benefit-card-mobile {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            height: 400px;
            width: 100%;
            padding: 30px;
            background-color: #252729;
            border-radius: 20px;
            background-size: cover;
            background-position: center;
            margin: 20px 0;

            p {
                font-size: 15px;
            }
        }

        #card-energy {
            background-image: url("../../assets/images/energy.png");
        }

        #card-maintenance {
            background-image: url("../../assets/images/maintainance.png");
        }

        #card-performance {
            background-image: url("../../assets/images/performance.png");
        }


        #card-safety {
            background-image: url("../../assets/images/safety.png");
        }


        #card-sound {
            background-image: url("../../assets/images/sound.png");
        }
    }

    .benefit-footer {
        display: flex;
        flex-direction: column;
        padding-top: 80px;
        padding-left: 20px;

        h3 {
            color: var(--text-color-light1);
            font-size: 29px;
            line-height: 119.2%;
            margin-bottom: 1.6rem;
        }

        p {
            color: var(--text-color-light2);
            color: #939393;
            font-weight: 400;
            font-size: .93rem;
            line-height: 180%;
        }

        padding-bottom: 100px;
    }

}